/* ----------------------------------------- */
/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Montserrat';
  }

/* ----------------------------------------- */
/* LAYOUT */
  body {
    width: 100vw;
    height: 100vh;
    display: grid;

    place-items: center;

    position: relative;
  }


  canvas {
    border: 1px solid black;
    grid-column: -1/1;
  }

  .container {
    position: relative;
    display: grid;
    grid-template-columns: min-content min-content;
    justify-items: center;
  }

/* ----------------------------------------- */
/* TYPOGRAPHY */

  .tooltip {
    display: inline-block;
    max-width: 200px;
    padding: 10px;

    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;

    pointer-events: none;
  }

  .tooltip--1 {
    background-color: orangered;
  }

  .tooltip--2 {
    background-color:blueviolet
  }


  